model_config_list: {
  config {
    name:  "fauvism64",
    base_path:  "/models/fauvism64",
    model_platform: "tensorflow"
  },
  config {
    name:  "flowers64",
    base_path:  "/models/flowers64",
    model_platform: "tensorflow"
  },
    config {
    name:  "celeba128",
    base_path:  "/models/celeba128",
    model_platform: "tensorflow"
  }
}